.threeimage {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.threeimage p {
    text-align: center;
}

.threeimage > section img {
    flex: 1 0 0;
    max-width: 30%;
}


.threeimage section {
    flex: 1 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1%;
    max-height: 80vh;
}



.threeimage > section div {
    background-color: rgba(255, 255, 255, 0.1);
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
    border-radius: 10px;
    height: max-content;
}

.threeimage > article {
    display: flex;
    align-items: center;
}

.threeimage > article img {
    flex: 1 0 0;
    max-width: 30%;
}

.threeimage > article > section {
    background-color: rgba(255, 255, 255, 0.1);
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1%;
    border-radius: 10px;
}