.twoimage {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.twoimage p {
    text-align: center;
}

.twoimage > section img {
    flex: 1 0 0;
    max-width: 30%;
}


.twoimage section {
    flex: 1 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1%;
    max-height: 80vh;
}



.twoimage > section div {
    background-color: rgba(255, 255, 255, 0.1);
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
    border-radius: 10px;
    height: max-content;
}

.twoimage > article {
    display: flex;
    align-items: center;
}

.twoimage > article > section {
    background-color: rgba(255, 255, 255, 0.1);
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1%;
    border-radius: 10px;
}