aside input[type="text"] {
    background-color: var(--secondary-color);
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 85%;
    margin-top: 5px;
}

aside input:hover {
    border-color: var(--tertiary-color);
}

input[type="button"] {
    background-color: var(--secondary-color);
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin: 2px;
    width: 50%;
}

aside {
    background: rgb(135, 134, 237, 0.2);
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 89%);
    flex: 2 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    border-radius: 10px;
    border: 3px solid black;
    max-height: 80vh;
    height: 80vh;
}

aside>#depliant {
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: auto;
    width: 20%;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 40px;
}

aside>#allProject {
    width: 100%;
    max-height: calc(100vh - 15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    overflow-y: scroll;
}

aside>#allProject>div {
    background: var(--quaternary-color);
    background: linear-gradient(90deg,
            var(--tertiary-color) 0%,
            var(--tertiary-color) 40%,
            var(--quinary-color) 50%,
            var(--tertiary-color) 60%,
            var(--tertiary-color) 100%);
    background-size: 200% 200%;
    border-radius: 12px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    animation: gradient 3s ease infinite;
    animation-play-state: paused;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

aside>#allProject>div:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    animation-play-state: running;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

aside>#allProject p {
    text-align: center;
}




@media screen and (max-width: 100vh) {
    aside {
        width: 95%;
    }

    aside input[type="text"] {
        width: 85%;
    }

    aside>#allProject {
        flex-direction: row;
    }

    aside>#allProject>div {
        flex-shrink: 0;
        margin-left: 5%;
        font-size: 0.8em;
    }
}