:root {
    --main-color: #363B48;
    --main-color-rgb: 54, 59, 72;
    --secondary-color: #939597;
    --secondary-color-rgb: 147, 149, 151;
    --tertiary-color: #7C4C53;
    --tertiary-color-rgb: 124, 76, 83;
    --quaternary-color: #80856D;
    --quaternary-color-rgb: 128, 133, 109;
    --quinary-color: #CFC486;
    --quinary-color-rgb: 207, 196, 134;
}

body {
    background: linear-gradient(
        180deg,
        var(--main-color) 0%,
        var(--secondary-color) 100%
    );
    display: flex;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}


body > div {
    margin-top: 0.5%;
    display: flex;
    flex: 15 0 auto;
    align-items: center;
}


@media screen and (max-width: 100vh) {
    #me {
        display: none;
    }
    body > header {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 98%;
    }

    body > div {
        margin-top: 25%;
        flex-direction: column;
        width: 100% ;
    }

    body > div > section > div {
        display: flex;
        flex-direction: column;
    }
}