:root {
    --main-color: #BDEDE0;
    --secondary-color: #BBDBD1;
    --tertiary-color: #B6B8D6;
    --quaternary-color: #7E78D2;
    --quinary-color: #6F58C9;
    --main-color-rgb: 189, 237, 224;
    --secondary-color-rgb: 187, 219, 209;
    --tertiary-color-rgb: 182, 184, 214;
    --quaternary-color-rgb: 126, 120, 210;
    --quinary-color-rgb: 111, 88, 201;
}


body {
    background: linear-gradient(
        180deg,
        var(--main-color) 0%,
        var(--secondary-color) 100%
    );
    display: flex;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}


body > div {
    margin-top: 0.5%;
    display: flex;
    flex: 15 0 auto;
    align-items: center;
}


@media screen and (max-width: 100vh) {
    #me {
        display: none;
    }
    body > header {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 2.5%;
    }

    body > div {
        flex-direction: column;
        width: 100%;
    }

    body > div > article {
        display: flex;
        flex-direction: column;
        width: 98%;
    }

    body > div > article > div {
        display: flex;
        flex-direction: column;
        max-width: 98%;
    }
}