body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(157,40,184,1) 0%, rgba(52,162,119,1) 65%, rgba(2,0,36,1) 95%);
    display: flex;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}


body > div {
    margin-top: 0.5%;
    display: flex;
    flex: 15 0 auto;
    align-items: center;
}


@media screen and (max-width: 100vh) {
    #me {
        display: none;
    }
    body > header {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 98%;
    }

    body > div {
        margin-top: 25%;
        flex-direction: column;
        width: 100% ;
    }

    body > div > section > div {
        display: flex;
        flex-direction: column;
    }
}